.contentView {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 160px;
    background-color: #fafbfc;
    z-index: 1000;
    right: 0;
    top: calc(50% - 80px);
    box-shadow: 0 0 1px 0px #4c4c4c;
    padding: 20px;
    box-sizing: content-box;
}

.openButton {
    position: fixed;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #fafbfc;
    z-index: 1000;
    right: 0;
    top: 50%;
    -webkit-border-top-left-radius: 155px;
    -webkit-border-bottom-left-radius: 155px;
    -moz-border-radius-top-left: 155px;
    -moz-border-radius-bottom-left: 155px;
    border-top-left-radius: 155px;
    border-bottom-left-radius: 155px;
}

.openButton:hover {
    box-shadow: 0 0 2px 0px black;
}

.openButtonGray {
    border: 1px solid #ddd;
    border-right: 0;
}

.openButtonGray:hover {
    background-color: #ddd;
}

.chartContainer {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.contentTitle {
    font-weight: 600;
    position: absolute;
    top: 5px;
}

.arrowIcon {
    display: flex;
    align-self: center;
    width: 15px;
    height: 15px;
}

.score{
    font-size: 20px;
    font-weight: bold;
}

.Borderline{
    color: orange;
}

.Fair{
    color: #ffe500;
}

.High{
    color: green;
}

.dateText {
    margin-top: 10px;
    margin-bottom: 0;
    align-self: start;
}